<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <P><h1> 맛집을 공유하는 게시판 </h1></p>
      
    </div>
  </body>
</html>
