<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>오늘은 이것이 땡긴다</h1>
        <table>
            <tr>
                <td><img src="http://conceptnewscentral.com/wordpress/wp-content/uploads/2016/09/Pizza.jpg" 
           style="width: 200px; height: auto;"></td>
                <td> <img src="http://heraldk.com/wp-content/uploads/2016/07/ya_sp_v.jpg" 
           style="max-width: 200px; height: auto;"></td>
            </tr>
            <tr>
                <td><img src="http://www.koreanhcm.org/files/2017/01/31/e55ff3434796de3b2d3c8453a61ec7a1183814.jpg" 
           style="max-width: 200px; height: auto;"></td>
                <td> <img src="http://image.lovenamwon.kr/lovenamwon/guide/mah/200904/120090418160605.jpg" 
           style="max-width: 200px; height: auto;"></td>
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>
